html{
    color: black;
}
.main{
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
}

.welcome{
    display :flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    height: 200px;
    background-color: rgb(139, 134, 134);
    border-radius: 10px;
    padding: 12px;
}