html{
    color: black;
}
.main{
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card{
    height: 200px;
    background-color: rgb(139, 134, 134);
    border-radius: 10px;
}